@charset "UTF-8";

.wrap{
    width: 100%;
}

#header{}

#header .h_top{
    margin: 0 auto;
    width: 1440px;
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .h_bot{
    width: 1440px;
    height: 63px;
    margin: 0 auto;
    
}

.h_bot ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h_bot ul li{}

.h_bot ul li a{
    display: block;
    text-align: center;
    line-height: 63px;
    font-weight: bold;
    font-size: 20px;
}

.h_bot ul li a:hover{
    text-decoration: underline;
}

.h_top div{}

.h_top_img1{
    width: 341px;
    height: 64px;
    background: url('../img/header-left-210105.png') no-repeat;
}

.h_top_img2{
    width: 236px;
    height: 62px;
    background: url('../img/logo1x_200708.png') no-repeat;
    margin-right: 130px;
}

.h_top_img2 a{
    display: block;
    width: 236px;
    height: 64px;
}

.h_top_img3{
    width: 240px;
    height: 54px;
    background: url('../img/header-right-200304.png') no-repeat;
}

.slide{
    width: 1920px;
    height: 820px;
    background: url('../img/main_slide.gif') no-repeat;
    
}

.cont1{
    margin: 0 auto;
    width: 1200px;
    height: 747px;
    text-align: center;
}

.cont1 div{
    display: inline-block;
}

.cont1 h2{
    text-align: center;
    padding: 100px 0;
}

.profile1 a{
    display: block;
    width: 372px;
    height: 498px;
    background: url('../img/dr13.png') no-repeat;
    opacity: 0.5;
    transition: all 0.5s;
}

.profile2 a{
    display: block;
    width: 372px;
    height: 498px;
    background: url('../img/dr01.png') no-repeat;
    opacity: 0.5;
    transition: all 0.5s;
}

.profile3 a{
    display: block;
    width: 372px;
    height: 498px;
    background: url('../img/dr14.png') no-repeat;
    opacity: 0.5;
    transition: all 0.5s;
}

.profile1 a:hover{
    opacity: 1;
}
.profile2 a:hover{
    opacity: 1;
}
.profile3 a:hover{
    opacity: 1;
}

.p_name{
    font-weight: bold;
    font-size: 30px;
}

.p_name span{
    background-color: cornflowerblue;
    color: white;
    font-size: 25px;
    border-radius: 40px;
    font-weight: lighter;
    padding: 10px;
    margin-right: 10px;
}

.cont2{
    height: 346px;
    padding: 100px 0;
}

.cont2_inner{
    padding: 50px 0;
    margin: 0 auto;
    width: 1440px;
    height: 346px;
    background: url('../img/');
}

.cont2_inner ul{
    text-align: center;
}

.cont2_inner ul li{
    display: inline-block;
    text-align: center;
    position: relative;
}

.cont2_inner ul li a{
    display: block;
    overflow: hidden;
    border-radius: 10px;
    width: 310px;
    height: 340px;
    
}

.inner_cont{
    width: 310px;
    height: 340px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: cornflowerblue;
    padding: 20px;
    opacity: 0;
    transition: all 0.5s;
}

.inner_cont h2{
    font-size: 30px;
    margin-bottom: 40px;
    color: white;
}

.inner_cont p{
    font-size: 25px;
    color: white;
    line-height: 1.8;
}

.inner_cont:hover{
    opacity: 1;
}

.cont3{
    clear: both;
    width: 1440px;
    height: 653px;
    margin: 300px auto 0;
}

.cont3_header{
    text-align: center;
}

.cont3 .yt{
    margin: 0 auto;
    width: 136px;
}

.cont3 h2{
    padding: 50px 0;
    color: cornflowerblue;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
}

.cont3 h2 span{
    font-weight: bold;
    font-size: 40px;
    color: blue;
}



.cont3_cont{
    overflow: hidden;
}

.cont3_cont iframe{
    width: 680px;
    height: 383px;
    display: inline-block;
    float: left;
    overflow: hidden;
    margin-left: 30px;
}

.cont3_cont ul {
    width: 600px;
    height: 400px;
    display: inline-block;
    margin-left: 50px;

}

.cont3_cont ul li{
    display: inline-block;
}

.cont3_cont li a{
    display: block;
    clear: both;
}

.cont3_cont li p{
    padding-top: 10px;
}

.cont3_box{
    margin: 20px auto;
    width: 220px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.cont3_box a{
    display: block;
}

.cont4{
    clear: both;
    margin: 200px 0; 
}

.cont4 > h2{
    margin: 0 auto;
    width: 450px;
    height: 40px;
    background: url('../img/d_logo_title.jpg') no-repeat;
    padding: 100px 0;
}

.cont4_list{
    
}

.cont4_list ul{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}

.cont4_list ul li{
    margin: 30px 0;
}

.cont5{
    height: 690px;
    background: url('../img/doctor_intro_bg_2021.jpg');
    position: relative;
}

.cont5 > div{
    background: url('../img/doctor_intro_num.png') no-repeat;
    width: 317px;
    height: 351px;
    position: absolute;
    top: 250px;
    right: 270px;
}

.cont6{
    height: 740px;
    background: url('../img/cnt5_200708.jpg');
    margin-top: 100px;
}

.cont7{
    width: 1083px;
    height: 238px;
    background: url('../img/cnt6_bg.jpg') no-repeat;
    margin: 100px auto;
}

.cont7_inner ul{
    position: relative;
    top: 22px;
    left: 285px;
}

.cont7_inner ul li{
    float: left;
    width: 130px;
    height: 195px;
    margin: 0 25px;
    transition: all 0.5s;
}

.cont7_inner ul li a{
    display: block;
    width: 130px;
    height: 195px;
}

.cont7_inner ul li:hover{
    filter: contrast(0);
}

.cont8{
    height: 480px;
    background: url('../img/review-bg.jpg') no-repeat;
    background-size: cover;
}

.cont8_inner{
    width: 1000px;
    margin-left: 550px;
    padding-top: 50px;
    padding-left: 200px;
}

.cont8_inner h2{
    display: inline-block;
    padding-bottom: 50px;
    padding-right: 20px;
    font-size: 30px;
}

.cont8_inner div{
    display: inline-block;
}

.cont8_inner div a{
    display: block;
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 25px;
    ;
}

.cont8_inner div a:hover{
    background-color: blue;
    text-decoration: underline;
}

.cont8_inner h3{
    font-size: 30px;
    padding-bottom: 30px;
}

.cont8_inner p{
    display: block;
    font-size: 20px;
    line-height: 1.7;
}

.cont9{
    height: 541px;
    background-color: lightgray;
    padding-top: 65px;
}

.cont9_inner{
    width: 1440px;
    height: 400px;
    margin: 0 auto;
    background-color: white;
}

.c9_inner1{
    padding: 50px 20px 20px;
    float: left;
}

.c9_main{
}

.c9_main > li{
    float: left;
}

.c9_main li a{
    display: block;
}

.c9_sub1{
    width: 460px;
}

.c9_sub1 li{
    margin: 20px 0;
}


.c9_sub1 li a{
    display: block;
}

.c9_sub2{
    width: 460px;
}

.c9_sub2 li{
    margin: 20px 0;
    
}

.c9_sub2 li a{
    display: block;
}

.c9_sub2 li a p{
}

.c9_list1{
    
}

.c9_list2{
    margin-left: 30px;
}

.c9_list1 > a{
    display: block;
    border-bottom: 1px solid black;
    width: 200px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.c9_list2 > a{
    display: block;
    border-bottom: 1px solid black;
    width: 100px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

.c9_list1 a:hover{
    font-weight: bold;
}

.c9_list2 a:hover{
    font-weight: bold;
}

.c9_inner2{
    width: 210px;
    height: 395px;
    float: left;
    position: relative;
}



.in2_list1 a{
    display: block;
    width: 210px;
    height: 109px;
    background-color: blue;
    color: white;
    text-align: center;
    line-height: 2;
    position: relative;
    padding-top: 25px;
    font-weight: bold;
}

.in2_list1 a span{
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    font-weight: lighter;
}

.in2_list2 a{
    display: block;
    width: 210px;
    height: 63px;
    background-color: white;
    line-height: 63px;
    
}

.in2_list3 a{
    display: block;
    width: 210px;
    height: 57px;
    background-color: gray;
    color: white;
    padding: 0 5px;
}

.in2_list4 a{
    display: block;
    width: 210px;
    height: 57px;
    background-color: gray;
    color: white;
    padding: 0 5px;
}

.in2_list5 a{
    display: block;
    width: 210px;
    height: 57px;
    background-color: gray;
    color: white;
    padding: 0 5px;
}

.in2_list6 a{
    display: block;
    width: 210px;
    height: 57px;
    background-color: gray;
    color: white;
    padding: 0 5px;
}

.c9_inner2 ul li a:hover{
    background-color: lightgray;
    color: black;
    
}

.c9_inner2 ul li a:hover span{
    border: 2px solid black;
}

.c9_inner2 ul li img{
    height: 400px;
    width: 315px;
    position: absolute;
    left: 210px;
    top: 0;
}

.in2_list3 img{
    opacity: 0;
}

.in2_list4 img{
    opacity: 0;
}

.in2_list5 img{
    opacity: 0;
}

.in2_list6 img{
    opacity: 0;
}

.in2_list3:hover img{
    opacity: 1;
}

.in2_list4:hover img{
    opacity: 1;
}

.in2_list5:hover img{
    opacity: 1;
}

.in2_list6:hover img{
    opacity: 1;
}

.footer_top{
    width: 1400px;
    height: 528px;
    margin: 0 auto;
    padding: 100px 0;

}

.ft_left{
    float: left;
}

.ft_right{
    float: right;
}

.ft_right h2{
    font-size: 30px;
    padding: 30px 0;
}

.ft_right p{
    font-size: 20px;
    line-height: 3;
}

.ft_right p span{
    color: blue;
    font-weight: bold;
}

.ft_bot{
    width: 1200px;
    height: 115px;
    clear: both;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

.ft_bot ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft_bot ul li{}

.ft_bot ul li a{
    display: block;
}

.ft_bot_img1{
    width: 90px;
    height: 81px;
    background: url('../img/social-icon-sprite.png');
}

.ft_bot_img2{
    width: 90px;
    height: 81px;
    background: url('../img/social-icon-sprite.png');
    background-position-x: -90px;
    margin: 0 50px;
}

.ft_bot_img3{
    width: 90px;
    height: 81px;
    background: url('../img/social-icon-sprite.png');
    background-position-x: -360px;
}

.footer_bot{
    height: 293px;

}

.map{
    padding: 100px 0;
}

.footer_bot_inner{
    margin: 0 auto;
    width: 1000px;
    height: 127px;
}

.footer_bot_inner div{
    float: left;
}

.footer_bot_inner p{
    float: right;
    line-height: 2.5;
    font-size: 17px;
    
}

.footer_bot_inner p span{
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

.side_bar{
    position: fixed;
    right: 0;
    top: 0;
}









